apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 049061799945.dkr.ecr.ap-southeast-2.amazonaws.com/shopping-site-backend:f755d6848b313f0706ef49fc06a4df8aad1ef11d
          ports:
            - containerPort: 5000
